/* 
    Created on : Nov 19, 2020, 3:43 PM
    Author     : Pollock
*/

:root{
    --primary_light: rgb(156, 220, 250);
    --secondary_light: rgb(214, 226, 250);
    --purple_light: rgb(232, 198, 252);
    --hover_color: rgb(118, 209, 252);
    --background_pink: #fdcce9;
}

.center{
    text-align: center;
    font-style: italic;
}

body{
    background-color: #fdcce9;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 2em;
    background-color: rgb(214, 226, 250);
    padding: 1em;
    border-radius: 2em;
    border: 2px solid grey;
    position: relative;
}

header img{
    vertical-align: middle;
    padding-left: 1em;
    display: inline;
    margin-right: 1em;
}

h1{
    display: inline;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: navy;
    text-shadow: 1px 1px 4px rgb(75, 91, 129);
    font-family: "Lucida Handwriting", cursive;
}

section{
    overflow: auto;
    border: 2px solid navy;
    font-size: 1.2em;
}

figure img{
    width: 100px;
    display: block;
    margin: auto;
    border: 4px ridge grey;
}

figure{
    margin: 0em;
    margin-top: 1em;
    text-align: center;
}

label{
    display: inline-block;
    width: 8em;
    font-weight: bold;
}

fieldset{
    border: 1px solid navy;
}

legend{
    background-color: rgb(214, 226, 250);
    padding: .25em;
    font-weight: bold;
    font-style: italic;
    border: 1px solid gray;
}

#nav_menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin-bottom: 2em;
}

#nav_menu ul li{    
    width: 100%;    
    background-color: rgb(156, 220, 250);
    text-align: center;
    border: 1px solid navy;
}

#nav_menu ul li a{
    display: block;
    text-decoration: none;
    color: navy;
    font-weight: bold;
    font-size: 1.5em;
    padding: .5em;
}

#nav_menu ul li:hover{
    background-color: rgb(118, 209, 252);
}

#nav_menu #currentPage{
    background-color: rgb(232, 198, 252);
    font-style: italic;
}

#onlySection{
    width:95%;
    background-color: rgb(156, 220, 250);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 2%;
    height: 20em;
}
#onlySection p{
    clear:both;
    border: 1px solid navy;
    padding: 1em;
    background-color: rgb(214, 226, 250);
}

#leftSection{
    float: left;
    width:60%;
    background-color: rgb(156, 220, 250);
    padding: 2%;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    height: 20em;
}

#rightSection{
    float: right;
    width: 25%;
    background-color: rgb(156, 220, 250);
    margin-bottom: 2em;
    padding: 2%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 20em;
    direction:rtl;
}

#rightSection p, h2, h3{
    direction:ltr;
}

section a{
    text-align: center;
}

#mobile_menu{
    display: none;
}

footer{
    clear: both;
    background-color: rgb(156, 220, 250);
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: 2px solid navy;
}

h2{
    font-size: 1.25em;
    margin: 0;
    background-color: rgb(214, 226, 250);
    padding:.5em;
    border-radius: .5em;
    border: 1px solid grey;
    text-align: center;
    font-weight: normal;
}

h3{
    font-style: italic;
}

hr {
    height:2px;
    border-width:1px;
    background-color: rgb(214, 226, 250);
}

table{
    text-align: center;
    background-color: rgb(156, 220, 250);
    border: 2px solid navy;
    padding: 1em;
    border-collapse: collapse;
    margin:auto;
}

th, td{
    border: 2px solid navy;
    border-collapse: collapse;
}

th{
    padding:.3em;
    background-color: rgb(214, 226, 250);
}

#submitDiv{
    margin-top: .5em;
    float:right;
}

@media only screen and (max-width: 824px){
    #nav_menu{
        display: none;
    }

    #mobile_menu{
        display: block;
    }

    .slicknav_menu{
        background-color: rgb(156, 220, 250) !important;
        border: 1px solid navy;
        margin: auto; 
    }

    .slicknav_menu a{
        color: black !important;
    }
    
    section{
        margin-top: 1em;
    }
    #leftSection{
        margin: auto;
        width: 88%;
        float: none;
        height: auto;
        border-radius: 2em;
        margin-top: 1em;       
    }

    #rightSection{
        margin: auto;
        width: 88%;
        float: none;
        height: auto;
        border-radius: 2em;
        margin-top: 1em;
    }

    header{
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
        width: 88%;
    }

    footer{
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 88%;
    }

    h2{
        margin-top: .5em;
    }

    table{
        margin-top: 1em;
    }
}